@import url('https://fonts.googleapis.com/css?family=Karla');
$primary-color: #000000;
$body-color: #ffffff;


body {
    background-color: $body-color;
}

h1,h2,h3,h4,h5,p,span {
    color: $primary-color;
}

.col-centered {
    display: inline-block ;
    float: none ;
}


:root {
    --grey-blue: #6c8d9f;
    --dark: #0d1621;
    --pale-gold: #fecc72;
    --rusty-red: #c23813;
    --tomato: #e7481d;
    --white: #ffffff;
    --custom-c-1: #00a4b4;
    --custom-c-2: #000000;

    
  }
  
  /* Text styles */
  
  title {
    font-family: Moyko;
    font-size: 56px;
    letter-spacing: 1px;
    text-align: center;
    color: #071e3b;
  }
  
  .Title-Reversed {
    font-family: Moyko;
    font-size: 56px;
    letter-spacing: 1px;
    text-align: center;
    color: #c23813;
    color: var(--rusty-red);
  }
  
  .Title-a {
    font-family: Moyko;
    font-size: 36px;
    line-height: 0.94;
    letter-spacing: 0.6px;
    text-align: center;
    color: #fecc72;
    color: var(--pale-gold);
  }
  
  .Subtitle {
    font-family: Moyko;
    font-size: 32px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #071e3b;
  }
  
  body {
    font-family: Karla;
    font-size: 26px;
    line-height: 1.35;
    text-align: left;
    color: #071e3b;
  }
  
  .Content-Title-Reversed {
    font-family: Karla;
    font-size: 26px;
    line-height: 1.35;
    text-align: left;
    color: #071e3b;
  }
  
  .Body-UL {
    font-family: Karla;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: #071e3b;
  }
  
  .Body-Reversed {
    font-family: Karla;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: #ffffff;
  }

  .header-contaner {
    display: flex;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    background: #000000;
    color: var(--white);
    justify-content: center;
}
.h-style-1 {
    font-size: 32px;
    font-weight: bold;
    font-family: Verdana;
    color: var(--white);
}
.h-style-2 { 
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    color: var(--pale-gold);
}
.h-style-3 { 
    font-family: Verdana;
    font-size: 32px;
    color: var(--pale-gold);
}
.bg-1 {
    background-image: url(../img/bg1.png);
    background-position: bottom;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-3 {
    background-image: url(../img/bg3.png);
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2 {
    background:   #0C141C;
    padding: 0 0 40px 0;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.bt-style-1 {
    font-family: Moyko;
    font-size: 120px;
    color: var(--pale-gold);
}
.bt-style-2 p {
    font-family: Moyko;
    font-size: 56px;
    letter-spacing: 1px;
    color: var(--rusty-red);
}

.bt-style-3 {
    p {
        font-family: Karla;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.46;
        letter-spacing: -0.5px;
        color: #071e3b;
    }
}

.bt-style-4 {
    font-family: Karla;
    font-size: 70px;
  
    line-height: 0.5;
    letter-spacing: -5px;
    p {
        color: var(--white);
        margin-bottom: 43px;
    }
   
}
.bt-style-5 {
    font-family: Moyko;
    font-size: 40px;
    color: var(--white);
    letter-spacing: 2px;
   
}
.bt-style-6 {
    font-family: Karla;
    font-size: 80px;
    color: var(--white);
    margin-bottom: 43px;
    line-height: 0.5;
    letter-spacing: -5px;
 
   
}
.bt-style-7 {
    font-family: Moyko;
    font-size: 56px;
    letter-spacing: 1px;
    text-align: center;
    color: #071e3b;
}
.bt-style-8 {
    font-family: Karla;
    font-size: 26px;
    line-height: 1.35;
  
}
.bt-style-9 {
    font-family: Moyko;
    font-size: 40px;
    color: var(--white);
    letter-spacing: 2px;
   
}
.bt-style-10 p {
    object-fit: contain;
    font-family: Karla;
    font-size: 26px;
    line-height: 1.35;
    text-align: left;
    color: #071e3b;
}
.bt-style-11 p {
    object-fit: contain;
    font-family: Karla;
    font-size: 26px;
    line-height: 1.35;
    text-align: left;
    color: var(--white);
}
.bt-style-12 p {
    font-family: Karla;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.35;
    color: #071e3b;
}
.bt-style-13 {
    font-family: Karla;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.35;
    color: #ffffff;
}
.bt-style-14 {
    font-family: Karla;
    font-size: 26px;
    font-style: italic;
    line-height: 1.35;
    text-align: left;
    color: #ffffff;
}
.bt-style-15 p {
    font-family: Karla;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.97;
    color: #ffffff;
}

.ul-c-1 {
    background-color: #bd3a00;
    margin:0;
    li {
        font-family: Moyko;
        font-size: 22px;
        padding: 0 5px;
        
        a {
            color: var(--pale-gold) !important;
            text-transform: uppercase;
        }
        a:hover {
            color: var(--custom-c-2) !important;
        }
     
    }
    li.active {
        background-color: var(--custom-c-1);
        a {
            color: var(--custom-c-2) !important;
        }
        
    }
    li.active-1{
          background-color: var(--pale-gold);
          a {
            color: var(--custom-c-2) !important;
        }
      }
   
}
.custom-box-1 {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 4px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    p {
        font-family: Karla;
        font-size: 15px;
        line-height: 2.33;
        color: #071e3b;
        margin: 0;
    }
}

@mixin border-color($border-color) {
    width: 143px;
    height: 193px;
    border-radius: 16px;
    background-color: #ffffff;
    border: solid 8px $border-color;
  }

  
  
  .custom-box-2 { @include border-color(#dc3cda); }
  .custom-box-3 { @include border-color(#59a24a); }
  .custom-box-4 { @include border-color(#854c20); }
  .custom-box-5 { @include border-color(#f08e44); }
  .custom-box-6 { @include border-color(#2972f5); }
  .custom-box-7 { @include border-color(#918893); }

  .custom-box-global-1 p{
    font-family: Moyko;
    font-size: 32px;
    letter-spacing: 0.6px;
    text-align: center;
  }


.p-custom-padding-1 {
    padding: 4px 40px;
}
.active-border {
    border: solid 4px #e6481d;
}


.btn-custom-1 {
    border: solid 3px #ffffff;
    background: var(--custom-c-2) !important;
    color: var(--white) !important;
    min-width: 236px;
    padding: 15px;
    font-family: Karla;
    font-size: 20px;
}

.table-style-1 td {
    font-family: Karla;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    color: var(--white) !important;
    padding: 12px;
}
.m-t-custom-1 {
    margin-top: 21px;
}
.custom-footer {
    background-color: #262626;
    display: flex;
    height: 80px;
    width: 100%;
}
.custom-min-height-1 {
    min-height: 968px;
}
.tooltip-body-container div {
    padding-bottom: 17px;
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 1.29;
}
.trigger-click {
    border: none !important;
    background: red !important;
    outline: 0 none;
    cursor: pointer;
}
.padding-custom-2 {
    padding-left: 4px;
}
.padding-custom-1 {
    padding-right: 4px;
}

.button-bg-1 {
    background-image: url(../img/bg-button.png);
    max-width: 743px;
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
    height: 79px;
    font-family: Moyko;
    font-size: 36px;
    line-height: 0.94;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
}
.custom-image-row .col-md-6 {
    margin-bottom: 55px;

}
.navbar.navbar-expand-sm {
    padding:0;
}
.img-box-shadow {
    box-shadow: -5px 5px 40px 0 rgba(255, 255, 255, 0.5);
}
.p-bottom-237 {
    padding-bottom: 360px;
}
.p-bottom-337 {
    padding-bottom: 500px;
}



@mixin border-color-1($border-color) {
    border-radius: 5px;
    border: solid 12px $border-color;
  }

  
  
  .img-border-1 { @include border-color-1(#ffffff); }
  .img-border-2 { @include border-color-1(#e7481d); }

.custom-padding-carousel {
    padding:0 120px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 64px;
    height: 64px;

}